* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

.container {
    text-align: center;
    color: white;
}

.titulo {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#okayButton {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    background-color: white;
    color: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#okayButton:hover {
    background-color: orange;
    color: white;
}

#gitHubButton {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    background-color: white;
    color: orange;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

#gitHubButton:hover {
    background-color: orange;
    color: white;
}

#mensagem {
    font-size: 2.5rem;
    margin-top: 3rem;
    color: orange;
}
